@model Section

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> Section Id &nbsp @Model.Id</h5>
        <h6 class="card-subtitle mb-2 text-muted">Section Name &nbsp @Model.SectionName</h6>
        <h6 class="card-subtitle mb-2 text-muted">Course Id &nbsp @Model.CourseId</h6>
        <h6 class="card-subtitle mb-2 text-muted">Schedule Id &nbsp @Model.ScheduleId</h6>
        <h6 class="card-subtitle mb-2 text-muted">Instructor Id &nbsp @Model.InstructorId</h6>
        <a class="btn btn-primary" href="/Section/GetAll">Back To List</a>
    </div>
</div>